<a href="https://colab.research.google.com/github/Mhshohag2256/CSC-448/blob/main/Shohaga_Mehedi_A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<a href="https://colab.research.google.com/github/Mhshohag2256/CSC-448/blob/main/Shohaga_Mehedi_A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mehedi H Shohag

In [3]:
# Imports section
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
import warnings
warnings.filterwarnings('ignore')

## Part 1. Loading the dataset

In [4]:
# Using pandas load the dataset (load remotely, not locally)
# Output the first 15 rows of the data
# Display a summary of the table information (number of datapoints, etc.)
data = pd.read_csv('https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv')
data.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

In [6]:
data.describe()

       Temperature °C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

## Part 2. Splitting the dataset

In [7]:
# Take the pandas dataset and split it into our features (X) and label (y)
new_data = data
X = new_data.drop(columns='Size nm^3',axis=1)
y = new_data[['Size nm^3']]

# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
X_train, X_test, Y_train, Y_test = train_test_split(X, y,test_size=0.10)

## Part 3. Perform a Linear Regression

In [8]:
# Use sklearn to train a model on the training set

# Create a sample datapoint and predict the output of that sample with the trained model

# Report on the score for that model, in your own words (markdown, not code) explain what the score means

# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX
model = LinearRegression()
model.fit(X_train, Y_train)
prediction= model.predict(X_test)
Acc=model.score(X_test, Y_test)
coef = model.coef_
inter = model.intercept_
print ("Accuracy = {0:.2f}".format(Acc))
print("Coefficents = ",coef)
print("Intercept = ",inter)

Accuracy = 0.87
Coefficents =  [[ 866.70600593 1028.53227584]]
Intercept =  [-409684.32920959]

$ h(x) =  887.60209x_1 + 1035.61878x_2 - 423402.92585$ <br>
and the accuracy of .84 or 84% means out of 100 sample test case this model can predict 84 of correctly and 16 of them incorrectly.

## Part 4. Use Cross Validation

When i used cross validation generator as 5, then it's using the training and testing data from different portion of the whole datasets in 5 different iteration. And on the 2nd and 4th iteration we are getting the highest accuracy of the model.

In [9]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data

# Report on their finding and their significance

scores = cross_val_score(model, X, y, cv=5)
print(scores)

[0.83918826 0.87051239 0.85871066 0.87202623 0.84364641]

## Part 5. Using Polynomial Regression

In [10]:
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2

# Report on the metrics and output the resultant equation as you did in Part 3.
poly_reg = PolynomialFeatures(degree = 2)
X_poly = poly_reg.fit_transform(X)
pol_reg = LinearRegression()
pol_reg.fit(X_poly, y)
print("Coefficents = ",pol_reg.coef_)
print("Intercept = ",pol_reg.intercept_)

Coefficents =  [[ 0.00000000e+00  1.20000000e+01 -1.23110504e-07 -1.05648823e-11
   2.00000000e+00  2.85714287e-02]]
Intercept =  [1.65718957e-05]

In [11]:
print(pol_reg.predict(poly_reg.fit_transform([[779, 916]])))

[[1460449.02859186]]

In [12]:
print(pol_reg.predict(poly_reg.fit_transform([[779, 916]])))

[[1460449.02859186]]

$ h(x) =  0*x_1 + 1.20*10^1x_1^2 -1.23112*10-7x_1^3 - 1.05667 * 10^-11x_2 +2*x_2^2+2.85714*10^-2x_2^3+ 1.65724$ <br>